# Pandas Groupby with National Park Visitation Data (Exercise)

# Load the data

In [1]:
import pandas as pd

np_data = pd.read_csv("https://raw.githubusercontent.com/melaniewalsh/Neat-Datasets/main/1979-2020-National-Park-Visits-By-State.csv")
np_data

       ParkName          Region State  Year  RecreationVisits
0     Acadia NP      Northeast     ME  1979           2787366
1     Acadia NP      Northeast     ME  1980           2779666
2     Acadia NP      Northeast     ME  1981           2997972
3     Acadia NP      Northeast     ME  1982           3572114
4     Acadia NP      Northeast     ME  1983           4124639
...         ...             ...   ...   ...               ...
2589    Zion NP  Intermountain     UT  2016           4295127
2590    Zion NP  Intermountain     UT  2017           4504812
2591    Zion NP  Intermountain     UT  2018           4320033
2592    Zion NP  Intermountain     UT  2019           4488268
2593    Zion NP  Intermountain     UT  2020           3591254

[2594 rows x 5 columns]



# Exercise 1

What is the average number of visits for *each state*?

Save as `avg_state_visits` and then view the resulting dataframe.
Discuss/consider: What state has the most and least average visits? What
patterns or surprises do you notice?

In [3]:
avg_state_visits = np_data.groupby('State')['RecreationVisits'].mean()

avg_state_visits

State
AK    1.377887e+05
AR    1.336286e+06
AS    1.627135e+04
AZ    1.840670e+06
CA    9.730535e+05
CO    1.029783e+06
FL    4.722664e+05
HI    1.307400e+06
IN    1.776658e+06
KY    1.342024e+06
ME    2.909380e+06
MI    1.965193e+04
MN    2.218540e+05
MO    2.465409e+06
MT    2.006450e+06
ND    5.174973e+05
NM    5.423827e+05
NV    8.123107e+04
OH    2.153601e+06
OR    4.796753e+05
SC    8.927681e+04
SD    8.144197e+05
TN    9.506039e+06
TX    2.421379e+05
UT    1.090876e+06
VA    1.518425e+06
VI    5.735757e+05
WA    1.498398e+06
WV    9.854926e+05
WY    2.719573e+06
Name: RecreationVisits, dtype: float64

In [4]:

avg_state_visits.nlargest(1)

State
TN    9.506039e+06
Name: RecreationVisits, dtype: float64


# Exercise 2

What is the average number of visits for *each National Park*?

Save as `avg_park_visits` and then view the resulting dataframe.

Discuss/consider: Which National Park has the most and least average
visits? What patterns or surprises do you notice?

In [6]:
avg_park_visits = np_data.groupby('ParkName')['RecreationVisits'].mean()

avg_park_visits

ParkName
Acadia NP                       2.909380e+06
Arches NP                       8.315601e+05
Badlands NP                     1.016205e+06
Big Bend NP                     3.064676e+05
Biscayne NP                     4.485172e+05
                                    ...
Wind Cave NP                    6.126346e+05
Wrangell-St. Elias NP & PRES    4.733967e+04
Yellowstone NP                  3.017686e+06
Yosemite NP                     3.448971e+06
Zion NP                         2.494319e+06
Name: RecreationVisits, Length: 63, dtype: float64

In [8]:
avg_park_visits.nlargest(1)

ParkName
Great Smoky Mountains NP    9.506039e+06
Name: RecreationVisits, dtype: float64


# Exercise 3:

How many National Parks are there in *each state*?

Save your answer as `distinct_parks`.

In [9]:
distinct_parks = np_data.groupby('State')['ParkName'].nunique()

distinct_parks

State
AK    8
AR    1
AS    1
AZ    3
CA    9
CO    4
FL    3
HI    2
IN    1
KY    1
ME    1
MI    1
MN    1
MO    1
MT    1
ND    1
NM    2
NV    1
OH    1
OR    1
SC    1
SD    2
TN    1
TX    2
UT    5
VA    1
VI    1
WA    3
WV    1
WY    2
Name: ParkName, dtype: int64


Discuss/consider: What state has the most and least average visits? What
patterns or surprises do you notice?

In [10]:
distinct_parks.nlargest(1)

State
CA    9
Name: ParkName, dtype: int64